.signupBody
  %header.signupHeader
    %h1
      = link_to root_path do
        = image_tag 'logo.png'
    %nav.signupHeader__progressBar.signupHeader__bar
      %ol.clearfix
        %li.signupHeader__list.signupHeader__list--through
          会員情報
          .signupHeader__progressStatus
        %li.signupHeader__list.signupHeader__list--passed
          電話番号入力
          .signupHeader__progressStatus
        %li.signupHeader__list.signupHeader__list--active
          お届け先住所入力
          .signupHeader__progressStatus
        %li.signupHeader__list
          完了
          .signupHeader__progressStatus
  %main.signupMain
    %section.signupMain__container
      %h2.signupMain__head.signupMain__head--registration
        お届け先住所入力
      .signupMain__inner.signupMain__inner--registrationForm
        = form_for @user, url: signup_index_path, method: 'POST', class: 'signupMain__inner signupMain__inner--registrationForm' do |f|
          .signupMain__content
            .signupMain__formGroup
              = f.label '郵便番号'
              %span.signupMain__formRequire 必須
              = f.text_field :zip_code, { class: 'signupMain__inputDefault', placeholder: '例) 123-4567' }
              %ul.signupMain__errorText
                = render partial: 'error-messages', locals: { user: @user, column: "zip_code"}
            .signupMain__formGroup
              = f.label '都道府県'
              %span.signupMain__formRequire 必須
              .signupMain__prefectureSelectWrap
                .signupMain__selectWrap
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name
                  %ul.signupMain__errorText
                    = render partial: 'error-messages', locals: { user: @user, column: "prefecture"}
            .signupMain__formGroup
              = f.label '市区町村'
              %span.signupMain__formRequire 必須
              = f.text_field :city, { class: 'signupMain__inputDefault', placeholder: '例) 横浜市緑区' }
              %ul.signupMain__errorText
                = render partial: 'error-messages', locals: { user: @user, column: "city"}
            .signupMain__formGroup
              = f.label '番地'
              %span.signupMain__formRequire 必須
              = f.text_field :address, { class: 'signupMain__inputDefault', placeholder: '例) 青山1-1-1' }
              %ul.signupMain__errorText
                = render partial: 'error-messages', locals: { user: @user, column: "address"}
            .signupMain__formGroup
              = f.label '建物名'
              %span.signupMain__formRequire 任意
              = f.text_field :building, { class: 'signupMain__inputDefault', placeholder: '例) 柳ビル103' }
            .signupMain__formGroup
              = f.label '電話'
              %span.signupMain__formRequire 任意
              = f.text_field :telephone, { class: 'signupMain__inputDefault', placeholder: '例) 09012345678' }
            .signupMain__formGroup
            %button.signupMain__btnDefault.signupMain__btnRed
              登録を完了する
  = render 'signup/footer'