= render "shared/header"
%main
  .commonContents
    = render "shared/sub_block"
    .mainBlock
      %h2.mainBlock__ttl
        購入が完了しました！
      .mainBlock__content
        .mainBlock__content-inner
          %p
            = @item.name
          %p
            = "¥" + @item.price.to_s
          %br
= render "shared/banner"
= render "shared/footer"