%header
  .headInner
    .headInner__Head
      .headInner__Head__title
        =link_to root_path do
          = image_tag "logo.png"
      .headInner__Head__searchBox
        %input{type: "text",placeholder: "キーワードから探す",size:"100",class:"searchBox__input"}
        %button{type: "submit"}
          = icon('fa','search',class:"searchBox__icon")
          
    .headInner__Foot
      %ul.headInner__Foot__left
        %li.headInner__Foot__left__category
          #categoryBtn カテゴリー
          %ul.dropDown
            - @parents.each do |parent|
              %li.dropDown-list
                = link_to "#{parent.name}",items_path
                %ul.dropDown
                  - parent.children.each do |child|
                    %li.dropDown-list-cal
                      =link_to child.name
                      %ul.dropDown
                        - child.children.each do |grandchild|
                          %li.dropDown-list-cal
                            = link_to grandchild.name
        %li.headInner__Foot__left__brand
          ブランド
      %ul.headInner__Foot__right
        - if user_signed_in?
          %li.headInner__Foot__right__login
            = link_to 'マイページ', user_path(current_user.id)
          %li.headInner__Foot__right__signUp
            = link_to destroy_user_session_path, method: 'delete' do
              ログアウト
        - else
          %li.headInner__Foot__right__login
            = link_to 'ログイン', new_user_session_path
          %li.headInner__Foot__right__signUp
            = link_to '新規会員登録', signup_index_path