.navi
  %ul
    %li.navi__name
      = link_to root_path do
        FURIMA
    = icon("fa","chevron-right",class:"navi__icon")
    %li.navi__categoryL
      = link_to "#" do
        %p= @item.category.parent.parent.name
    = icon("fa","chevron-right",class:"navi__icon")
    %li.navi__categoryM
      = link_to "#" do
        %p= @item.category.parent.name
    = icon("fa","chevron-right",class:"navi__icon")
    %li.navi__categoryS
      = link_to "#" do
        %p= @item.category.name
    = icon("fa","chevron-right",class:"navi__icon")
    %li.navi__itemName
      %p= @item.name
