.subBlock
  .firstSec
    %ul.subBlock__lists
      = link_to user_path(current_user.id) do
        %li.subBlock__list
          マイページ
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          やることリスト
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          いいね！一覧
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          出品する
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          出品した商品-出品中
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          出品した商品-取引中
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          出品した商品-売却済み
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          購入した商品-取引中
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          購入した商品-過去の取引
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          ニュース一覧
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          評価一覧
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          ガイド
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          お問い合わせ
          %span
            %i.fas.fa-chevron-right
  .secondSec
    %p.subBlock__listTtl
      メルペイ
    %ul.subBlock__lists
      = link_to "＃" do
        %li.subBlock__list
          売上・振込申請
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          ポイント
          %span
            %i.fas.fa-chevron-right
  .thirdSec
    %p.subBlock__listTtl
      設定
    %ul.subBlock__lists
      = link_to "＃" do
        %li.subBlock__list
          プロフィール
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          発送元・お届け先住所変更
          %span
            %i.fas.fa-chevron-right
      = link_to edit_card_path(current_user) do
        %li.subBlock__list
          カード登録
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          メール/パスワード
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          本人情報
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          電話番号の確認
          %span
            %i.fas.fa-chevron-right
      = link_to "＃" do
        %li.subBlock__list
          ログアウト
          %span
            %i.fas.fa-chevron-right