.signupBody
  %header.signupHeader
    %h1
      =link_to "root_path" do
        =image_tag 'logo.png'

  %main.signupMain
    .loginPanel
      .loginNoAccount
        %p アカウントをお持ちでない方はこちら
        = link_to '新規会員登録', signup_index_path
      .loginFormInner
        %button.btnDefault.btnSns.btnSnsFacebook
          = icon 'fab', 'facebook-square'
          Facebookで登録する
        %button.btnDefault.btnSns.btnSnsGoogle
          = icon 'fab', 'google'
          Googleで登録する
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .loginFormInner
          .formGroup
            = f.email_field :email, { class: 'inputDefault', placeholder: 'メールアドレス' }
          .formGroup
            = f.password_field :password,{ class: 'inputDefault', placeholder: 'パスワード' }
          %button.loginSubmit.btnDefault.btnRed{ type: 'submit' }
            ログイン
          = link_to '#' do
            パスワードをお忘れの方
  = render 'signup/footer'