.itemsEdit
  .itemsEdit__header
    = link_to root_path do
      = image_tag 'logo.png', alt: 'FURIMA', class: 'itemsEdit__logo'

  .itemsEdit__body
    = form_for (@item) do |f|
      .itemsEdit__container
        .itemsEdit__top
          商品の情報を入力
        .itemsEdit__title
          .itemsEdit__subTitle
            出品画像
          .itemsEdit__tag
            必須
        .itemsEdit__photoExplanation 
          最大10枚までアップロードできます

        .itemsEdit__photoUp
          .itemsEdit__photoUp--icon
            = icon("fa", "camera", class: "fa-lg fa-fw")
          .itemsEdit__photoUp--text
            ドラッグアンドドロップ
            %br
              またはクリックしてファイルをアップロード
        .itemsEdit__alert.displayNone
          画像がありません

      .itemsEdit__container
        .itemsEdit__innerContainer
          .itemsEdit__title
            .itemsEdit__subTitle
              出品名
            .itemsEdit__tag
              必須
          =f.text_field :name, placeholder: "40文字以内" ,class: "itemsEdit__inputBox"
          .itemsEdit__alert.displayNone
            入力してください

        .itemsEdit__innerContainer
          .itemsEdit__title
            .itemsEdit__subTitle
              出品の説明
            .itemsEdit__tag
              必須
          =f.text_area :explanation, rows: 7, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）（例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "itemsEdit__textareaBox"
          .itemsEdit__alert.displayNone
            入力してください

      .itemsEdit__container
        .itemsEdit__mainTitle
          商品の詳細
        .itemsEdit__innerContainer
          .itemsEdit__title
            .itemsEdit__subTitle
              カテゴリー
            .itemsEdit__tag
              必須
          -# カテゴリープルダウンメニュー
          .itemsEdit__selectBoxL
            = f.collection_select :category_id, @item.category.parent.parent.siblings, :id , :name, {include_blank: "---", selected: @item.category.parent.parent.id}, {id:'select-parent-category',class: "itemsEdit__selectBox"}
          .itemsEdit__selectBoxM
            = f.collection_select :category_id, @item.category.parent.siblings, :id , :name, {include_blank: "---", selected:  @item.category.parent.id}, {id:'select-children-category',class: "itemsEdit__selectBox"}
          .itemsEdit__selectBoxS
            = f.collection_select :category_id, @item.category.siblings, :id , :name, {include_blank: "---", selected: @item.category_id}, {id:'select-grandchildren-category',class: "itemsEdit__selectBox"}

        .itemsEdit__innerContainer
          .itemsEdit__title
            .itemsEdit__subTitle
              サイズ
            .itemsEdit__tag
              必須
          .itemsEdit__selectBoxSize
            =f.select :size, Item.sizes.invert.map{|k, v| [t("items.condition.#{v}"), v]},placeholder:"選択してください",include_blank: "---",selected: @item.size
          .itemsEdit__alert.displayNone
            選択してください

        .itemsEdit__innerContainer
          .itemsEdit__title
            .itemsEdit__subTitle
              ブランド
            .items__tEditag--gray
              任意
          =f.text_field :brand, placeholder: "入力してください" ,class: "itemsEdit__inputBox"

        .itemsEdit__innerContainer
          .itemsEdit__title
            .itemsEdit__subTitle
              商品の状態
            .itemsEdit__tag
              必須
          .itemsEdit__selectBoxCondition
            =f.select :condition, Item.conditions.invert.map{|k, v| [t("items.condition.#{v}"), v]},placeholder:"選択してください",include_blank: "---",selected: @item.condition
          .itemsEdit__alert.displayNone
            選択してください

      .itemsEdit__container
        .itemsEdit__mainTitle
          配送について
        .itemsEdit__innerContainer
          .itemsEdit__title
            .itemsEdit__subTitle
              配送料の負担
            .itemsEdit__tag
              必須
          .itemsEdit__selectBoxFee
            =f.select :fee_which, Item.fee_whiches.invert.map{|k, v| [t("items.condition.#{v}"), v]},placeholder:"選択してください",include_blank: "---",selected: @item.fee_which
          .itemsEdit__alert.displayNone
            選択してください

        .itemsEdit__innerContainer
          .itemsEdit__title
            .itemsEdit__subTitle
              発送元の地域
            .itemsEdit__tag
              必須
          .itemsEdit__selectBoxFrom
            = f.collection_select :from_where, Prefecture.all, :name, :name,include_blank: "---",selected: @item.from_where
          .itemsEdit__alert.displayNone
            選択してください

        .itemsEdit__innerContainer
          .itemsEdit__title
            .itemsEdit__subTile
              発送までの日数
            .itemsEdit__tag
              必須
          .itemsNew__selectBoxDelivery
            =f.select :delivery_date, Item.delivery_dates.invert.map{|k, v| [t("items.condition.#{v}"), v]},placeholder:"選択してください",include_blank: "---",selected: @item.delivery_date
          .itemsEdit__alert.displayNone
            選択してください

      .itemsEdit__container
        .itemsEdit__mainTitle
          価格（¥300〜9,999,999）
        .itemsEdit__sellContainer
          .itemsNew__title
            .itemsEdit__subTitle
              販売価格
            .itemsEdit__tag
              必須
          .itemsEdit__sellPriceBox
            ¥
            = f.number_field :price, placeholder: "0", min: "300", max: "9999999", style: "text-align: right;", class: "itemsEdit__inputBox--sellPrice"
        .itemsEdit__alertInputBox
          .itemsEdit__alertInputBox2.displayNone
            300以上9999999以下で入力してください

        .itemsEdit__sellPrice
          .itemsEdit__sellPrice--left
            販売手数料（10%）
          .itemsEdit__sellPrice--right
            ー

        .itemsEdit__priceProfit
          .itemsEdit__sellPrice--left
            販売利益
          .itemsEdit__priceProfit--right
            ー

        .itemsEdit__btnContainer
          .itemsEdit__modalOpen
            = f.submit :" 変更する", class: "itemsEdit__sellBtn"
          =link_to "キャンセル", item_path(@item),method: "patch",class: "itemsEdit__sellBtn itemsEdit__backBtn"

  .itemsEdit__footer
    .itemsEdit__footerTop
      %ul.itemsEdit__footerUl
        %li.itemsEdit__footerList
          = link_to('プライバシーポリシー', {}, class: 'itemsEdit__footerList--link')
        %li.itemsEdit__footerList
          = link_to('フリマ利用規約', {}, class: 'itemsEdit__footerList--link')
        %li.itemsEdit__footerList
          = link_to('特定商品に関する表記', {}, class: 'itemsEdit__footerList--link')

    .itemsEdit__footerLogo
      = image_tag 'logo-white.png', alt: 'FURIMA', class: 'itemsEdit__logo'

    .itemsEdit__footerBottom
      @FURIMA