.itemsNew
  .itemsNew__header
    = link_to root_path do
      = image_tag 'logo.png', alt: 'FURIMA', class: 'itemsNew__logo'

  .itemsNew__body
    .itemsNew__container
      .itemsNew__title
        .itemsNew__mainTitle2
          出品画像
        .itemsNew__subTitle
          必須
      .itemsNew__titleInner
        最大10枚までアップロードできます

      .itemsNew__photoUp--back
        .itemsNew__photoUp--front
          .itemsNew__photoUp--icon
            = icon("fa", "camera", class: "fa-lg fa-fw")
          .itemsNew__photoUp--text
            ドラッグアンドドロップ
            %br
            またはクリックしてファイルをアップロード


    .itemsNew__container
      .itemsNew__innerContainer
        .itemsNew__title
          .itemsNew__mainTitle2
            出品名
          .itemsNew__subTitle
            必須
        %input{type: "text", placeholder: "40字まで" ,class: "itemsNew__inputBox"}

      .itemsNew__innerContainer
        .itemsNew__title
          .itemsNew__mainTitle2
            出品の説明
          .itemsNew__subTitle
            必須
        %textarea{type: "text", rows: 7, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）（例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "itemsNew__textareaBox"}

    .itemsNew__container
      .itemsNew__mainTitle1
        商品の詳細
      .itemsNew__innerContainer
        .itemsNew__title
          .itemsNew__mainTitle2
            カテゴリー
          .itemsNew__subTitle
            必須
        %input{type: "text", placeholder: "選択してください" ,class: "itemsNew__inputBox"}

      .itemsNew__innerContainer
        .itemsNew__title
          .itemsNew__mainTitle2
            ブランド
          .itemsNew__subTitle--gray
            任意
        %input{type: "text", placeholder: "選択してください" ,class: "itemsNew__inputBox"}

      .itemsNew__innerContainer
        .itemsNew__title
          .itemsNew__mainTitle2
            商品の状態
          .itemsNew__subTitle
            必須
        %input{type: "text", placeholder: "選択してください" ,class: "itemsNew__inputBox"}

    .itemsNew__container
      .itemsNew__mainTitle1
        配送について
      .itemsNew__innerContainer
        .itemsNew__title
          .itemsNew__mainTitle2
            配送料の負担
          .itemsNew__subTitle
            必須
        %input{type: "text", placeholder: "選択してください" ,class: "itemsNew__inputBox"}

      .itemsNew__innerContainer
        .itemsNew__title
          .itemsNew__mainTitle2
            発送元の地域
          .itemsNew__subTitle
            必須
        %input{type: "text", placeholder: "選択してください" ,class: "itemsNew__inputBox"}

      .itemsNew__innerContainer
        .itemsNew__title
          .itemsNew__mainTile2
            発送までの日数
          .itemsNew__subTitle
            必須
        %input{type: "text", placeholder: "選択してください" ,class: "itemsNew__inputBox"}

    .itemsNew__container
      .itemsNew__mainTitle1
        価格（¥300〜9,999,999）
      .itemsNew__priceBox
        .itemsNew__mainTitle
          販売価格
        .itemsNew__subTitle
          必須
        %input{type: "text", placeholder: "選択してください" ,class: "itemsNew__inputBox--price"}

      .itemsNew__price1
        販売手数料（10%）
      .itemsNew__price2
        販売利益

      .itemsNew__btnBox
        %button{type: "submit", class: "itemsNew__sellBtn"}
          出品する
        %button{type: "submit", class: "itemsNew__sellBtn itemsNew__backBtn"}
          もどる
      
      .itemsNew__note
        禁止されている
        %span>
        = link_to('行為', {}, class: 'itemsNew__noteLink')
        %span>
        および
        %span>
        = link_to('出品物', {}, class: 'itemsNew__noteLink')
        %span>
        を必ずご確認ください。
        %span>
        = link_to('偽ブランド品', {}, class: 'itemsNew__noteLink')
        %span>
        や
        %span>
        = link_to('盗品物', {}, class: 'itemsNew__noteLink')
        %span>
        などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
        %span>
        = link_to('加盟店規約', {}, class: 'itemsNew__noteLink')
        %span>
        に同意したことになります。



  .itemsNew__footer
    .itemsNew__footerTop
      %ul.itemsNew__footerUl
        %li.itemsNew__footerList
          = link_to('プライバシーポリシー', {}, class: 'itemsNew__footerList--link')
        %li.itemsNew__footerList
          = link_to('フリマ利用規約', {}, class: 'itemsNew__footerList--link')
        %li.itemsNew__footerList
          = link_to('特定商品に関する表記', {}, class: 'itemsNew__footerList--link')

    .itemsNew__footerLogo
      = image_tag 'logo-white.png', alt: 'FURIMA', class: 'itemsNew__logo'

    .itemsNew__footerBottom
      @FURIMA, Inc.