= render "shared/header", parents: @parents

= render "shared/navi"

%main.showItem
  .mainBox
    .mainBox__itemName
      = @item.name
    .mainBox__mainImage
      = image_tag @item.thumbnail
    %ul.mainBox__imageBox
      -@item.images.each do |i|
        - if i.url.present?
          %li.mainBox__imageBox__leftImage
            = image_tag i.url
    .mainBox__priceBox
      %h.mainBox__priceBox__itemPrice
        ="#{@item.price}円"
      %p.mainBox__priceBox__tax
        (税込)送料込み
    .mainBox__text
      =@item.explanation
    .mainBox__btn
      -if user_signed_in?
        -if  current_user.id == @item.seller_id
          =link_to edit_item_path(@item) do
            .mainBox__editBtn
              商品の編集
            .mainBox__destroyBtn#modal-open-btn
              =link_to "商品の削除", item_path(@item),method: :delete ,id: 'item-delete-btn'
            #overlay
              #modalWindow
                .modal-message-box
                  %p 確認 
                  本当に削除しますか？
                %button#modal-close-btn キャンセル
                %button#delete-comformation-btn 削除する
                
        -else
          -if @item.buyer_id > 0
            .mainBox__soldBtn
              SOLD OUT
          -else 
            = link_to confirm_item_path(@item) do
              .mainBox__buyBtn
                購入画面に進む
      -else
        -if @item.buyer_id > 0
          .mainBox__soldBtn
            SOLD OUT
        -else
          = link_to confirm_item_path(@item) do
            .mainBox__buyBtn
              購入画面に進む
    %table.mainTable
      %tr
        %th
          出品者
        %td
          = @item.seller.nickname
      %tr
        %th
          カテゴリー
        %td
          = link_to "#" do
            %p= @item.category.parent.parent.name
          = link_to "#" do
            %p= @item.category.parent.name    
          = link_to "#" do
            %p= @item.category.name
      %tr
        %th
          ブランド
        %td
          = @item.brand
      %tr
        %th
          商品のサイズ
        %td
          = @item.size
      %tr
        %th
          商品の状態
        %td
          = @item.condition
      %tr
        %th
          配送料の負担
        %td
          = @item.fee_which
      %tr
        %th
          発送元の地域
        %td
          = @item.from_where
      %tr
        %th
          発送日の目安
        %td
          = @item.delivery_date

    .mainBox__btns
      %ul.favoritBtn
        = icon("fa","star",class:"star__icon")
        %li.text
          お気に入り 0
      %ul.reportBtn
        = icon("fa","flag",class:"flag__icon")
        %li.text
          =link_to "#"do
            不適切な商品の通報
    

  .commentBox
    %textarea{type: "text",class:"comment__form"}
    .commentBox__Info
      .commentBox__Info__text
      相手のことを考え丁寧なコメントを心がけましょう。
      %br
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %button{type: "submit",value:"コメントする",class:"commentBox__btn"}
      = icon("fa","comment",class:"comment__icon")
      コメントする

  %ul.page
    %li.page__front
      = link_to "#" do
        = icon("fa","chevron-left")
        前の商品
    %li.page__back
      = link_to "#" do
        後ろの商品
        = icon("fa","chevron-right",class:"navi__icon")

= render "shared/banner"

= render "shared/footer"
