= render "shared/header"
%main
  .commonContents
    = render "shared/sub_block"
    .mainBlock
      %h2.mainBlock__ttl
        支払い方法
      .mainBlock__content
        .mainBlock__content-inner
          %h3.mainBlock__subTtl クレジットカード一覧
          .card__info 
            -if @card.present?
              .card__number 
                = "**** **** **** " + @default_card_information.last4
              .card__delete-btn 
                = link_to '削除する', delete_cards_path, method: :post
            -else
              %p.card__add-btn 
                = link_to 'カードを追加する', edit_card_path, method: :get
        .payQuestion
          = link_to "支払い方法について", edit_card_path(1);